.layout {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.h1 {
    font-family: 'Geometria-Bold';
    font-weight: 500;
    width: 82%;
    margin: 0;
    font-size: 40px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .h1 {
        font-size: 30px;
        margin-bottom: 6%;
        width: 90%;
    }
}
  