.cardLowerPart {
    width: 100%;
    height: 40%;
    padding-left: 29%;
}

.li {
    font-family: 'Geometria';
    font-weight: 400;
    font-size: 12px;
    padding-left: 2%;
    margin-bottom: 10px;
}

li::marker {
    color: rgba(73, 194, 232, 1);
}